

.sidebar{
    background-color: rgb(36, 35, 35);

}

.main{
    background-color: rgb(53, 49, 49);


}

.mask{
    background-color: rgba(251, 251, 251, 0.15);
}

.addbutton{
    font-size: 30px;
   
  
}