.login{
    background-color: #ffff00;
    border: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid #ffffff;
}

button.btn.signup{
    background-color: #ff4400;
}

.navbar{

    background-color: rgb(36, 35, 35);
}


