.footer{
}

button{
    background-color: #ff4400;

}


.icon{
    font-size: larger;
    color: #ed5118;
    font-weight: 300;
}

.social{
    border-top: 1px solid #ed5118;
    border-bottom: 1px solid #ed5118 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

.social-icon{
    font-weight: 400;
    font-size: x-large;
    color: #ed5118;
}

.footer-info{
    font-family: Georgia, 'Times New Roman', Times, serif;


}