.signin{

    background-color: rgb(36, 35, 35);

}
.signcol{
    background-color: rgb(63, 61, 61);

}

input{
    background-color: rgb(88, 87, 87);
    color: aliceblue;
    border: 0cap;
    
}

.signin-title{
    color: #ff4400;
    font-family: Georgia, 'Times New Roman', Times, serif;


}


button{
    border: 0;
    color: aliceblue;
    background-color: #de3b00;
   
}

.link{
    color: #ff4400;
}